cliffs-delta~=1.0.0
matplotlib~=3.4.2
numpy~=1.20.3
pandas~=1.2.0
progressbar2~=3.55.0
pydriller~=2.0
requests~=2.25.1
scikit-learn~=0.24.2
scipy~=1.6.3
statsmodels~=0.12.2
tabulate~=0.8.9
tosca-metrics~=0.0.11
